{% extends 'core/base.html' %}
{% load static %} 
{% block content %}
<div class="mt-5 text-center">
    <img src="{% static 'core/images/MyPic.jpg' %}" alt="ProfilePic" 
    class = "img-thumbnail" width = "250px" height="150px">

    <div class="mt-5 text-white">
        <h1 class="font-weight-bold">Hello</h1>

        <div>
            <p>
                I am Anuj Tiwari having 2 years of MIS-Executive experience for Oravel Stay Private Limited (OYO),
                I offer the analytical and data analysis skills you seeking for your daily business decision problem. <br><br><br>

                Since earning my MBA degree in business analytics and marketing from Galgotias University, Noida, 
                I have served as a MIS Executive for OYO Hotels & Homes one of the biggest 
                Indian multinational hospitality chain of leased and franchised hotels, homes and living spaces. <br><br>


                As a Executive in operational department for United State Martet I have adept at leveraging SQL for extracting insights 
                related to hotel daily operational work around the United States market, 
                manupulating and performing exploratory data analysis using Python and Google Sheet, in last preparing report on Google Studio.

                <br><br>

                Please check my other online section like skills, education, projects to know more about my professional background.

                



            </p>
        </div>
    </div>


</div>
{% endblock content %}