{% extends 'core/base.html' %}
{% load static %} 
{% block content %}
<div class="mt-5">
    <div class="text-center">
        <img src="{% static 'core/images/MyPic.jpg' %}" alt="ProfilePic" 
        class = "img-thumbnail" width = "250px" height="150px">
    </div>

    <div class="mt-5 text-white mx-5 text-justify">
        <h1 class="font-weight-bold st-font">Hello,</h1>

        <div class="px-4" style="line-height: 2rem;">
            <p style="text-indent: 100px;">
                I am <b class="text-warning">Anuj Tiwari</b> having 2 years of MIS-Executive experience for 
                <b class="text-warning">Oravel Stay Private Limited (OYO)</b>,
                I offer the analytical and data analysis skills you seeking for your daily business decision problem.
            </p>
            <p>
                Since earning my MBA degree in business analytics and marketing from Galgotias University, Noida, 
                I have served as a MIS Executive at <b class="text-warning">OYO Hotels & Homes</b> one of the biggest 
                Indian multinational hospitality chain of leased and franchised hotels, homes and living spaces.
            </p>
            <p>
                As a Executive in operational department for United State market I have adept at leveraging SQL for extracting insights 
                related to hotel daily operational work around the United States market, 
                manupulating and performing exploratory data analysis using Python and Google Sheet, in last preparing report on Google Studio or Tableau.

            </p>

            <p>

                Please check my other online section like skills, education, services to know more about my professional background. And please contact me or you can drop mail if you find my profile relevent for your organization.
            </p>

            <div class="text-center">

            <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
            <a href="{% url 'contact' %}" class="btn btn-outline-info my-3">Contact</a>
        </div>

        </div>
    </div>


</div>
{% endblock content %}